@(createContentForm: Form[CourseContent], id : String, contents: List[CourseContent])


<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>edArea creating course</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen"
        href="@routes.Assets.at("stylesheets/login.css")">

    </head>
    <body>
        <header>
            <a href="@routes.Application.index" id="logo">edArea Creating content</a>

        </header>





        @helper.form(action = routes.Content.addContent(id), 'enctype -> "multipart/form-data") {
            <h1>Создание конента для @id</h1>

            @if(createContentForm.hasGlobalErrors) {
                <p class="error">
                @createContentForm.globalError
                </p>
            }

        <p>
            <input type="text" name="contentName" placeholder="Content Name" value="@createContentForm("contentName").value">
        </p>
        <p>
            <input type="text" name="contentType" placeholder="Content Type" value="@createContentForm("contentType").value">
        </p>
        <p>
            <input type="text" name="content" placeholder="Text" value="@createContentForm("content").value">
        </p>
        <p>
            <input type="text" name="pathFile" placeholder="Path" value="@createContentForm("pathFile").value">
        </p>


            @if(contents.isEmpty)  {}else   {
        <p> <h5>Айди созданного ранее урока</h5>
            <input type="number"  name="contentId" placeholder="" value="@createContentForm("contentId").value" >
                </p>
            }

            <h6>Выбор урока</h6>       не хочет работать
                @if(contents.isEmpty)  {  }  else {

                <select  size="1"   >
                    <option>Новый урок</option>
                    @for(courseContent <- contents) {
                        <option name="contentId"  value="@createContentForm("contentId").value">@courseContent.id</option>
                    }
                    }

        </select>






        <p>
            <button type="submit"name="submit" value="Upload">Create</button>
        </p>


        }

        <dd>
            <a href="@routes.Courses.showCourses()">Back</a>
        </dd>


    </body>


</html>