@(user: User, course: Course, contents: List[CourseContent])

    @main(user) {

        <div class="course">

            <dl id="user">
                <dt>@user.name <span>(@user.email)</span></dt>
                <dd>
                    <a href="@routes.Application.logout()">Logout</a>
                </dd>
            </dl>
        </div>
        <h1>@course.courseName</h1>

        <h1>@course.logoPath</h1>
        <img src="@routes.Assets.at(course.logoPath)" width="30%" height="30%" alt="лого">
        <div>Science: @course.science</div>
        <div>About course:<br>@course.aboutCourse</div>

        <h2> Уроки</h2>
        @if(contents.isEmpty)  {  }  else {
                @for(courseContent <- contents) {
                    <a href="@routes.Content.showContent(course.courseName, courseContent.contentName)" > <h3>@courseContent.contentName</h3></a>

                }
                }




        <br>
        <dd>
            <a href="@routes.Courses.showCourses()">Back</a>
        </dd>
    }